html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  margin: 0;
  max-width: 25rem;
  padding: 0 .5em .5em;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3rem;
  display: block;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  text-align: left;
  font-size: 1.875rem;
  padding: .5em .25em;
  margin: .3em 0 0;
  display: inline-block;
}

.nav {
  list-style-type: none;
  text-align: center;
  font-weight: 100;
  font-size: 1.06rem;
  margin: .3em 0 0;
  padding: 0 .5em;
  max-width: 25rem;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  background-color: #b2a212;
  padding: .4em .5em;
  border-radius: 4px;
}

.nav a:hover {
  background-color: #cc1465;
  color: #fff;
  border-color: #cc1465;
  padding: .4em .5em;
  text-align: center;
  border-radius: 4px;
}

.nav .current {
  background-color: #b20953;
}

img {
  display: block;
  width: 100%;
  padding: .75em;
  max-width: 25rem;
  margin: 0;
}

p {
  padding: .75em .5em;
  max-width: 25rem;
  margin: 0;
}

p strong {
  font-weight: 900;
}

main {
  color: #2f2d13;
  margin: .2em;
}

footer {
  background-color: #ffe500;
  font-size: .8rem;
  color: #2f2d13;
  display: block;
  text-align: center;
  padding: 1.2em;
  margin: .3em 0 0;
  max-width: 25rem;
}
