html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

body {
  vertical-align: center;
  margin: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
}

h1, h2 {
  font-family: "Sigmar One", sans-serif;
  display: block;
  color: #b20953;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: left;
  font-size: 1.875rem;
}

ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: #b2a212;
}

nav a:hover {
  color: #cc1465;
}

nav .current {
  background-color: #b20953;
}

img {
  display: block;
  width: 100%;
}

main {
  font-size: 1.125rem;
  color: #2f2d13;
}

footer {
  background-color: #ffe500;
  font-size: .75rem;
  display: block;
  text-align: center;
}
